/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.content {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr ;
  grid-template-areas:
        "header header"
        "aside main";
        width: 100%;
  height: 100vh;
}

header {
 grid-area: header;
 display: flex;
 justify-content: space-between;
 align-items: center;
 border: 2px solid black;
 padding: 10px;
}

aside {
  grid-area: aside;
  border: 2px solid black;
  padding: 10px;
}

.selectionBtnContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.displayBoard {
  grid-area:  main;
  border: 2px solid black;
}

.selectionBtn {
  border: 2px solid orangered;
  background-color: orange;
}

.project-item {
  border: 2px solid green;
  background-color: green;
}

.project-item, .selectionBtn {
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px;
  color: white;
  margin: 10px 0px;
}

.selectionBtn:hover {
  background-color: orangered;
  color: black;
  cursor: pointer;
}

.project-item:hover {
  background-color: greenyellow;
  color: black;
  cursor: pointer;
}

.selectionBtn[data-active="true"] {
  background-color: orangered;
}

.project-item[data-active="true"] {
  background-color: greenyellow;
}

.delete-project-btn {
  background: none;
  border: none;
}

.delete-project-btn:hover {
  color: white;
  cursor: pointer;
}

.displayBoard {
  padding: 20px;
}

.task-item {
  background-color: red;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 20px;
}

.task-header {
  display: flex;
  align-items: center;
}

.task-actions {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.task-footer {
  display: flex;
  justify-content: space-between;
}

.complete {
  background-color: yellow;
}
